
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login | Galvarino Workflow</title>



    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="~/lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/main.min.css" rel="stylesheet">
    <link href="~/lib/css/bootstrap-datepicker.min.css" rel="stylesheet">
    @*<link href="~/lib/css/StyleSheet.css" rel="stylesheet" />*@


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay"></div>


        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body bord-all">
                    <div class="mar-ver pad-btm">
                        <img src="" alt="Galvarino Logo" style="max-width:300px;">
                        <p>Login de Usuarios</p>
                    </div>
                    <form name="form-usuario-generico">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="email" class="form-control" Id="email" name="email" autofocus>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>

                                <input type="password" class="form-control" Id="password" name="password">
                            </div>

                        </div>
                        <div class="checkbox pad-btm text-left">
                            <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                            <label for="demo-form-checkbox">Recuerdame</label>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Acceder</button>
                    </form>
                </div>
            </div>
        </div>
        <!--===================================================-->




    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.4/es6-shim.min.js"></script>
    <script src="~/js/main.min.js"></script>
    <script src="~/lib/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/js/jquery.validate.min.js"></script>
    <script>
        $(function () {


            $("form[name='form-usuario-generico']").validate({
                rules: {

                    password: "required",

                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    }
                },

                messages: {
                    password: {
                        required: "Debe ingresar contraseña!!!",
                        minlength: "Debe ingresar contreasña de 5 caractéres mínimo!!"
                    },
                    email: "Debe ingresar un correo válido!!!"
                },

                submitHandler: function (form) {
                    event.preventDefault();
                    let model = {
                        email: $('#email').val(),
                        passwordHash: $("#password").val()
                    }

                    console.log({ model });

                    $.ajax({
                        type: "POST",
                        url: `/api/auth/ingreso-usuario`,
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8"
                    }).done(function (data) {
                        debugger;
                        location.href = "/configuraciones/usuarios"

                    }).fail(function (errMsg) {
                        debugger;
                        $.niftyNoty({

                            type: "warning",
                            container: "floating",
                            title: "Acceso no válido",
                            message: "correo o contraseña no son válidos!!!<br/><small>Este mensaje se cierra en 5 segundos.</small>",
                            closeBtn: true,
                            timer: 5000
                        });
                    });
                }
            });

            $('#registration').on('submit', function (e) {

                debugger;



                let model = {
                    email: $('#Identificacion').val(),
                    passwordHash: $("#Llave").val()
                }

                console.log({ model });

                $.ajax({
                    type: "POST",
                    url: `/api/auth/ingreso-usuario`,
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8"
                }).done(function (data) {

                    location.href = "/configuraciones/usuarios"

                }).fail(function (errMsg) {
                    $.niftyNoty({
                        type: "warning",
                        container: "floating",
                        title: "Acceso no válido",
                        message: "correo o contraseña no son válidos!!!<br/><small>Este mensaje se cierra en 5 segundos.</small>",
                        closeBtn: true,
                        timer: 5000
                    });
                });
            });
        });
    </script>

</body>
</html>