################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Core/v15/Server/sqlite3/db.lock
/.vs/Core/v15/Server/sqlite3/storage.ide
/.vs/Core/v15/Server/sqlite3/storage.ide-shm
/.vs/Core/v15/Server/sqlite3/storage.ide-wal
