
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]  pruebas</title>


    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="~/lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/main.min.css" rel="stylesheet">
    <link href="~/lib/css/bootstrap-datepicker.min.css" rel="stylesheet">


   
    <!--=================================================-->



</head>
<h2>Index</h2>
<body>
    <div class="row">
        <table id="tabla-generica"
               data-toggle="table"
               data-url="/api/listar-sucursales"
               data-search="false"
               data-show-refresh="false"
               data-show-toggle="false"
               data-show-columns="false"
               data-sort-name="Direccion"
               data-page-list="[]"
               data-page-size="20"
               data-side-pagination="server"
               data-pagination="true" data-show-pagination-switch="false">
            <thead>
                <tr>
                    <th data-field="Direccion" data-sortable="true">Dirección</th>
                    <th data-field="Longitud" data-align="center" data-sortable="true">Latitud</th>
                    <th data-field="Latitud" data-sortable="true">Longitud</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.4/es6-shim.min.js"></script>
<script src="~/js/main.min.js"></script>
<script src="~/lib/js/bootstrap-datepicker.min.js"></script>





<!--=================================================-->